DEBUG=false
UVICORN_LOG_LEVEL=info

POSTGRES_USER=avep
POSTGRES_PASSWORD=avep
POSTGRES_DB=avep
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24

ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me

FRONTEND_URL=http://vulnavep.com:5173
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*

VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=admin
VITE_DEBUG_LOGS=true
VITE_GRAFANA_URL=http://grafana.vulnavep.com
VITE_K8S_DASHBOARD_URL=http://k8s.vulnavep.com
